# Explicitly allow access to only a few end-points instead of explicitly
# denying access to many.
RewriteEngine On
RewriteRule "(^|/)(^reload)" - [PT] 
RewriteRule "(^|/)(\^.well-known)" - [PT] 
RewriteRule "^$" - [PT]
RewriteRule "^(.*/)?" - [R=404]
