{% extends 'base.html' %}

{% block head %}
	<title>Web App</title>
{% endblock %}

{% block body %}
	<center><h1>Random Doggo Picture!</h1></center>

<div id="index">
	<center>

	<a href="{{doggo}}" alt="Random Doggo Link!" target="_blank">
		<img src="{{doggo}}" alt="Random Doggo!" width="600" height="500">
	</a>
	<br>

	<form action="/" method="POST">
		<input type="hidden" name="doggo" value="new_doggo">
		<input type="submit" value="Pick Random Doggo">
	</form>	
	</center>
</div>
{% endblock %}

